::-webkit-scrollbar{background:#fff;width:10px;height:11px}
::-webkit-scrollbar-thumb{background:#BBB}
*{margin:0;padding: 0;list-style: none;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;outline:none}
.fb_iframe_widget,.fb_iframe_widget span,.fb_iframe_widget span iframe[style]{/* min-width: 100% !important; */}
.fb-comments,.fb-comments iframe[style],.fb-like-box,.fb-like-box iframe[style]{width:100%!important}
.fb-comments span,.fb-comments iframe span[style],.fb-like-box span,.fb-like-box iframe span[style]{width:100%!important}
.addthis_native_toolbox{margin:10px 0;width:100%;clear:both;border:1px solid #ededed;padding:10px;margin-bottom:10px;background:#f7f6f6;box-sizing:border-box}
.addthis_native_toolbox b{float:left;font-size:14px;text-transform:uppercase;margin-right:10px}
.clear{clear:both; align-items: center;}
img{max-width:100%;height:auto; object-fit: fill;}
div.bando img{max-width:none!important}
body{font-family:'Segoe-UI','Arial',sans-serif;font-size:13px;line-height:1.5;background-color:#FFF;}
@font-face {
    font-family: 'Segoe-UI';
    src: url('font/SVN-SegoeUI.eot');
    src: url('font/SVN-SegoeUI.eot?#iefix') format('embedded-opentype'),
    url('font/SVN-SegoeUI.woff2') format('woff2'),
    url('font/SVN-SegoeUI.woff') format('woff'),
    url('font/SVN-SegoeUI.ttf') format('truetype'),
    url('font/SVN-SegoeUI.svg#SVN-SegoeUI') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
*[x-apple-data-detectors],  /* iOS */
.x-gmail-data-detectors,    /* Gmail */
.x-gmail-data-detectors *,
.aBn {
    border-bottom: 0 !important;
    cursor: default !important;
    color: inherit !important;
    text-decoration: none !important;
    font-size: inherit !important;
    font-family: inherit !important;
    font-weight: inherit !important;
    line-height: inherit !important;
}
a{text-decoration: none;}

.not-show{width:0;height:0;overflow:hidden;z-index:-99;position:fixed;top:-500px}
div#wapper{margin:0 auto;width:100%;margin-top: 0px;overflow: hidden; background-color: #EBF2F9}
.col_w50{width:50%;float:left;}
.col_w60{width:60%;float:left;}
.col_w40{width:40%;float:left;}
.col_w30{width:30%;float:left;}
.col_w30{width:35%;float:left;}
.col_w70{width:70%;float:left;}
.col_w25{width:25%;float:right;}

.col_w20{width:20%;float:left;text-align: left;}
.col_w15{width:15%;float:left;}
.col_w10{width:10%;float:left;}
.col_w33{width:calc(100% / 3);padding-right: 30px;float:left}
.pdr25{padding-right: 25px}
.pdl25{padding-left: 60px}
.info span{display: block; padding: 10px 0;}
.info span a{
    margin-left: 5px;
}
#gioithieu_index{width:100%;padding:30px 0px;margin-bottom:20px;}
#popup_size_chart {position:fixed;width: 100%;height: 100%;z-index: 999;top:0;left: 0;background: rgba(0, 0, 0, 0.6);display: none}
#popup_size_chart.active{display: block;}
span.close_size_popup {
    position: absolute;
    top: 20px;
    /* margin: 50px auto; */
    right: 20px;
    color: #000;
    text-decoration: underline;
    font-size: 13px;
    cursor: pointer;
}
#popup_size_chart img{display: block;max-height: 600px}
div.header{display:none;}
div.wap_menu{
    position: fixed;
    width:100%;
    margin:0 auto;
    z-index:10;
    margin:0 auto;
    text-align: center;
    line-height: 0;
    padding: 0px 0px 10px;
    transition: 0.4s;
    background: #fff;
}
div.wap_menu.fixed{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 777;
    animation-name: c;
    animation-duration: 0.3s;
    animation-direction: alternate;
    background-color: #fff;
    transition: 0.4s;
    padding: 10px 0;
}
div.wap_menu.fixed .logo{max-width: 100px;transition: 0.4s}
.wap_menu.fixed #menu {align-items: center;}
.wap_menu #menu{
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 1174px;
    margin: 0 auto;
}




div.search{
    position: relative;
    line-height: 1em;
    width: 50%;
    display: flex;
    align-items: flex-end;
    color: #fff;
}
div.search input{
    width: calc(100% - 40px);
    border: 1px solid #fff;
    border-radius: 20px;
    background: none;
    outline: none;
    font-style: italic;
    box-sizing: border-box;
    font-family: Segoe-UI;
    font-size: 11px;
    padding:2px 5px;
    float: left;
    color: #fff;
}
div.search.show{
    right: 0;
    transition: 0.4s ease;
    visibility: visible;
    opacity: 1;
    color: #fff
}
.btn_search{
    position: relative;
    cursor: pointer;
    display: block;
    margin-left: 10px;
}
div.search input::-webkit-input-placeholder{color:#CCC}
div.search input::-moz-placeholder{color:#CCC}
div.search input:-ms-input-placeholder{color:#CCC}
div.search input:-moz-placeholder{color:#CCC}

.sp_cart_top {position: relative;top: 2px;/* line-height: 34px; *//* background: url(images/icon_cart.png) no-repeat left; *//* bottom: 20px; *//* right: 10px; *//* font-family: Segoe-UI_R; *//* font-size: 16px; *//* color: #FFF; */}
.sp_cart_top span {color: #fff;font-size: 10px;position: relative;top: -2px;left: -16px;padding: 1px;margin-right: -11px;}

div#slider{margin:0;width:100%;}

.frm_lienhe_index{position:relative;width: 50%;margin:10px auto;background:rgba(255,255,255,0.9);text-align:center;}
.frm_lienhe_index .input_lh{padding: 6px 15px;border:solid 1px #CCC;background:#FFF;border-radius:5px;width:100%;display:inline-block;vertical-align:top;margin-bottom:6px;line-height:20px;font-family: Segoe-UI;}
.frm_lienhe_index #hinh_captcha{height:30px;display:inline-block;vertical-align:top}
#dknt .title_dknt{width:100%;text-align:left;color:#FFF;font-size:15px;display:block;margin-bottom:20px;}
form#frm_dknt .txt_input{width:300px;padding: 5px 10px;height: 35px;border: none;float:left;letter-spacing: 1px;color:#000;outline:none;font-family: Segoe-UI;background: none;border:1px solid #ccc;}
form#frm_dknt input[type='button']{transition: 0.5s;background: #000;color:#fff;padding: 0px 5px;height: 35px;line-height: 35px;border:none;cursor:pointer;outline:none;font-family: Segoe-UI;font-size: 16px/*;border-radius:4px*/;font-weight:normal;margin-left: 15px;}
div#main_content{width:100%;margin:0px auto;}
#col_left{width: 15%;float: left}
#col_right{width: 100%;float: left}
#danhmuc_left .title{font-weight: 700;font-size: 16px;text-transform: uppercase;display: inline-block;line-height: 1em;padding-bottom: 10px;margin-bottom: 10px;border-bottom: 1px solid #000}
#danhmuc_left ul li a{
    color: #000;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 700;
    cursor: pointer;
}
#danhmuc_left ul li a svg{transform: rotate(-90deg);margin-right: 5px;transition: 0.3s}

#danhmuc_left ul li.active a svg{transform: rotate(0deg);transition: 0.3s}
#danhmuc_left ul li ul li a{font-size: 11px; color: #808080;font-weight: 300;line-height: 1.8em;transition: 0.3s;}
#danhmuc_left ul li ul li a:hover,#danhmuc_left ul li ul li a.active{color: #000;transition: 0.3s;font-weight: 700}
#danhmuc_left ul li ul{margin-top: 10px;margin-bottom: 10px;}
#danhmuc_left .dm_cap2{max-width: 120px;display: none}
#danhmuc_left ul li.active .dm_cap2{display: block}

#danhmuc_left .dm_cap2>li{border-bottom: 1px solid #808080}
#danhmuc_left .dm_cap2>li:last-child{border-bottom: none}
.tieude_giua{
    font-family: Segoe-UI;
    text-transform: uppercase;
    font-size: 24px;
    width:100%;
    margin-top: 40px;
    margin-bottom: 40px;
    text-align:center;
    font-weight: 300;
}
.wp_product{justify-content: flex-start;flex-wrap: wrap;display: -webkit-flex; margin-top: 30px;}

}
#product_index .wp_product{margin-left: -30px;margin-right: -30px}

.wp_product2{display: block; margin-top: 30px;}

.slick_product1{display: block; margin-top: 30px;}

.product__item{
    width: calc((100%/3) - 5px);

    text-align:center;
    vertical-align:top;
    box-sizing:border-box;
    position:relative;
    font-family:Segoe-UI;
    transition: 0.5s;
    background: #EBF2F9;
    float: left;
    display: block;
    overflow: hidden;
    padding-bottom: 15px;
}

.product__item1{
    width: calc((100%/3) - 20px);
    margin:0 10px 20px;
    text-align:center;
    vertical-align:top;
    box-sizing:border-box;
    position:relative;
    font-family:Segoe-UI;
    transition: 0.5s;
    background: #EBF2F9;
    float: left;
    display: block;
    overflow: hidden;
    padding-bottom: 15px;
}

.product__item2{
    
    
    text-align:center;
    vertical-align:top;
    box-sizing:border-box;
    position:relative;
    font-family:Segoe-UI;
    transition: 0.5s;
    background: #EBF2F9;
    display: flex;
    overflow: hidden;
    padding: 20px;
}

.product__item2:hover{
    background-color: #fff;
    border-radius: 20px;
}

.wp_product.inside .product__item,.slick_product .product__item{
    width: calc((100%/4) - 20px);
    margin: 0 10px 10px;
    display: none;
}



.wp_product.inside .product__item:nth-child(1),
.wp_product.inside .product__item:nth-child(2),
.wp_product.inside .product__item:nth-child(3),
.wp_product.inside .product__item:nth-child(4){
    display: inline-block;
}
.product__image-plus{
    position: absolute;
    width: 100%;
    top: 0;
    left: -100%;
    transition: 0.6s;
}
.product__item:hover .product__image-plus{
    left: 0; 
    transition: 0.6s;
}
.product__image{
    width: 100%;
    height: 250px;
    line-height: 0;
    display: inline-block;
}

.product__image1{
    width: 100%;
    height: 180px;
    line-height: 0;
    display: inline-block;
}

.product__image2{
    width: 50%;
    height: 410px;
    line-height: 0;
}

.product__image img{
    width: 100%;
    height: 100%;
    border-radius: 20px

}

.product__image1 img{
    width: 100%;
    height: 100%;
    border-radius: 20px

}

.product__image2 img{
    width: 100%;
    height: 100%;
    border-radius: 20px

}
.product__name{

}

.product__name a{
    font-family: 'Segoe-UI';
    font-size: 26px;
    width: 100%;
    color: #000;
    line-height: 1.2em;
    margin-top: 15px;
    display: inline-block;
    font-weight: bold;
    text-align: left;
}

.product__name p{
    font-family: 'Segoe-UI';
    font-size: 16px;
    width: 100%;
    color: #959595;
    margin-top: 5px;
    display: inline-block;
    text-align: left;
}

.product__name1 a{
    font-family: 'Segoe-UI';
    font-size: 24px;
    height: 57px;
    width: 100%;
    color: #000;
    line-height: 1.2em;
    margin-top: 15px;
    display: inline-block;
    font-weight: bold;
    text-align: left;
}

.product__name1 p{
    font-family: 'Segoe-UI';
    font-size: 13px;
    width: 100%;
    color: #959595;
    margin-top: 5px;
    display: inline-block;
    text-align: left;
}

.title1{
    display: flex;
}

.title2 h3{
    display: inline-block;
    position: relative;
    font-size: 40px;
    line-height: 1em;
    font-weight: 400;
    width: 100%;
    font-family: 'Segoe-UI';
    margin: 30px 0 30px 10px;
    text-align: left;

}

.title2{
    display: block;
    width: 99%;
}

.title3{
    display: block;
    font-size: 38px;
    padding-left: 20px
}

.title3 button{
    background-color: #fff;
    border-radius: 30px;
    border:1px solid #D9D9D9;
    padding: 5px 0 5px 5px; 
    margin-left: 10px;
}

.title3 input{
    font-family: Courier New;
    border: none;
    color: #959595;
    margin-right: 10px;
    font-size: 16px;
    border-radius: 30px;
}


  input[type="date"]::-webkit-calendar-picker-indicator {
    margin-left: -15px;
    margin-bottom: 2px;
}

.title3 .people{
    font-family: Courier New;
    border:none;
    color: #959595;
    font-size: 16px;
}

.title3 .num{
    width: 30px;
    border:none;
    text-align: center;
    color: #959595;
    font-family: Courier New;
    font-size: 16px;
}

.sort_price{
    display: block;
}

.sap_xep1{
    padding: 20px 0 0 0;
}

.sap_xep2{
    display: flex;
    margin-bottom: 20px;
}

.sap_xep2 select{
    background-color: #fff;
    border-radius: 30px;
    border:1px solid #D9D9D9;
    padding: 6px 10px 5px 8px; 
    margin-left: 10px;
}

.sap_xep2 p{
    font-size: 13px;
    margin: 2px 20px 2px 0;
}


.huy_phong{
    width: 86%;
    border-radius: 15px;
    padding: 10px 0;
    font-family: sans-serif;
    background-color: #6EAED2;
    border:none;
    display: flex;
}

.huy_phong p{
    position: relative;
    font-size: 12px;
    width: 45%;
    padding: 20px 0 20px 10px;
    color: #fff; 
}

.huy_phong h3{
    position: relative;
    font-size: 16px;
    padding: 5px 0 5px 10px;
    color: #fff; 
}
.product__name2{

}

.product__name2 a{
    font-family: 'Segoe-UI';
    font-size: 28px;
    width: 100%;
    color: #000;
    line-height: 1.2em;
    margin-top: 15px;
    display: inline-block;
    font-weight: bold;
    text-align: left;
}

.product__name2 p{
    font-family: 'Segoe-UI';
    font-size: 14px;
    width: 100%;
    color: #959595;
    margin-top: 15px;
    display: inline-block;
    text-align: left;
}

.product__price1{
    display: flex;
    margin-top: 10px;  
}

.product__price2{
    width: 65%;
}


.product__price1 p{
    font-family: 'Segoe-UI';
    font-size: 14px;
    text-align: left;
    padding: 4px 0;
}

.product__price1 b{
    text-align: left;
    font-size: 14.5px;
}

.product__price1 a{
    width: 35%;
    height: 30px;
    margin-top: 10%;
    border-radius: 30px;
    font-size: 12px;
    font-family: sans-serif;
    border:1px solid #000;
    background-color: #EBF2F9;
    color: #000;
    padding:6px;
}

.product__price1 a:hover{
     color: #fff;
     background:#6EAED2;
     border:none;
     box-shadow: rgba(110, 174, 210, 0.5) 0px 0rem 1rem;
}

.tien_ich_sp{
    margin-top: 15px;
    position: relative;
}

.tien_ich_sp::before{
    content: "";
    width: 100%;
    height: 1px;
    background-color: #D9D9D9;
    position: absolute;
}

.size_sp{
    width: 55%;
    

}

.size_sp p{
    text-align: left;
    font-size: 15px;
    color: #929292;
    padding-top: 5px;
}

.size_sp b{
    color: #343434;
    font-size: 16px;
}

.btn_dathang{
    display: flex;
    margin-top: 15px;
}

.btn_dathang button{
    width: 45%;
    height: 45px;
    margin-top: 10%;
    border-radius: 30px;
    font-size: 16px;
    font-family: sans-serif;
    font-weight: bold;
    background-color: #6EAED2;
    border:none;
}

.btn_dathang a{
    color: #fff
    }

.wap_detail{
    display: flex;
    position: relative;
    margin-top: 25px;
}


.tien_ich_sp2{
    width: 50%;
}

.wap_detail::before{
    content: "";
    width: 100%;
    height: 1px;
    background-color: #D9D9D9;
    position: absolute;
}

.size_sp2{
    width: 55%;
    margin-bottom: 35px;

}

.size_sp2 p{
    text-align: left;
    font-size: 14px;
    color: #929292;
    padding-top: 5px;
    display: block;
    width: 200px;
}

.size_sp2 b{
    color: #343434;
    font-size: 16px;
    
}

.btn_dathang2{
    display: inline-block;
    width: 50%;
}

.btn_dathang2 a{
    position: absolute;
    border-radius: 30px;
    font-size: 16px;
    font-family: sans-serif;
    border:1px solid #000;
    color: #000;
    padding:10px 28px 10px 28px;
    left: 50%;

}

.btn_dathang2 a:hover{
    background-color: #6EAED2;
    color: #fff;
    border:none;
    box-shadow: rgba(110, 174, 210, 0.5) 0px 0rem 1rem;
}

.product__price,.product_old_price{
    font-family: 'Segoe-UI';
    font-size: 16px;
    display: inline-block;
    margin-top: 5px;
}
.product_color{margin-top: 5px;}
.product_old_price{
    text-decoration: line-through;
    color: red;
    padding-left: 15px;
}
.product__tag{
    position: absolute;
    top: 10px;
    left: 10px;
    display: block;
    padding: 5px 10px;
    background-color: #fff;
}
.product__tag.sale{
    color: red;
}
.product__tag.best{
    background-color: #C2A77C;
    color: #fff;
}

div#wap_footer{
    width:100%;
    height: 70%;
    position:relative;
    background-color: #15445E;
    color: #15445E;

}
#main_footer{
    padding-top: 20px;
    padding-bottom: 100px;
    max-width: 100%;

}
#main_footer .contact{
    padding-left: 90px;
}

.logo_ft{display: block;width: 100%;text-align: center;}
.logo_ft img{max-width: 160px;margin: 0 auto}
.social{margin-top:     15px}
.social a{display: inline-block;margin-right: 10px;text-align: center;}
div#wap_footer .content_ft{width:100%;margin:0 auto;font-family:Segoe-UI;font-size:13px;display: flex;}
div#wap_footer .title{
    font-size: 16px;
    text-transform:uppercase;
    margin-bottom:10px;
    display:inline-block;
    vertical-align:top;
    position:relative;
    font-family: Segoe-UI;
    position:relative;
}
.list_policy{
    list-style: none;
    justify-content: center;
}
.list_policy li a{color: #fff;display: inline-block;font-size: 13px;font-family: Segoe-UI;line-height: 1em;letter-spacing: 0.5px}
#copy_right{width:90%; margin: 15px 0 0 15px; line-height:1em;color:#fff;font-family:Segoe-UI;font-size:12px;text-align: left;letter-spacing: 1px}
.zoom_slick{width: 70%;float:left;padding: 10px;}
.zoom_slick .slick2{width: 100% ;text-align: center;}
.zoom_slick .slick2 img{width: 100%;}
.zoom_slick .slick{width: 100%;margin-top: 20px}
.zoom_slick .slick img{width: 100%;margin:auto;margin-bottom: 5px;box-sizing:border-box;cursor:pointer;}
.zoom_slick .slick img:hover{border:1px solid #F60;opacity:.5;transition:1s}
.zoom_slick .slick .slick-slide{margin: 0 10px;}
#wp_product_info{width: 30%;float: right;padding: 10px;}
.product_info{margin: 0 auto;list-style:none;width: 100%;padding:10px 20px;}
.product_info li{font-size:13px;line-height: 1.2em;padding: 10px 0;display: flex;align-items: center;}

.product_info li.giacu{font-size:16px;text-decoration:line-through}
.product_info span.giacu{font-size:15px;text-decoration:line-through;color: #881e22 !important;margin-left: 9px;}
.product_info li.gia{color:#000;font-size:16px;font-family: 'Segoe-UI'}
.product_info p.gia{display:inline-block;float: right;font-family:Segoe-UI;color: #000;}
.product_des{display: block!important}
.product_code{padding: 5px 10px;background-color: #000;color: #fff;display: inline-block;}
.product_info li b{font-family: Segoe-UI;font-weight: 300;font-size:14px;padding: 0px 10px 0px 0px;width: 40%;line-height: 1em;vertical-align: top;display: inline-block;}
.xemgiohang{color: #fff;text-align:center;text-align:center;float: right;font-weight:700;cursor:pointer;font-size:13px;transition:.4s;text-decoration: underline;}
.product_desc{margin-top: 10px;}

.product_info1{margin: 0 auto;list-style:none;width: 100%;padding:10px 18px;}

.product_info2{width: 50%; margin: 0 auto;display: block; list-style:none;padding:10px 10px 10px 50px;}
span.size{display:inline-block;transition: 0.3s;margin-right:5px;cursor:pointer;font-size: 16px;line-height: 1em;padding: 5px 9px;text-align: center;border:1px solid #000;}

span.mausac{
    width: calc((100%/2) - 5px);
    display: inline-flex;
    transition: 0.3s;
    margin-right:5px;
    cursor:pointer;
    font-size: 16px;
    line-height: 1em;
    margin-top: 17px;
    text-align: left;

}
span.mausac p{
    margin-left: 11px;
    margin-top: 5px;
    color: #8D8D8D;
    font-size: 15px;
}

span.mausac1{
    width: 100%;
    display: inline-flex;
    transition: 0.3s;
    margin-right:5px;
    cursor:pointer;
    font-size: 16px;
    line-height: 1em;
    margin-top: 17px;
    text-align: left;

}
span.mausac1 p{
    margin-left: 11px;
    margin-top: 5px;
    color: #8D8D8D;
    font-size: 14px;
}

.tien_ich{
    width: 75%;
    padding: 25px 0 25px 0;
}

span.mausac3{
    width: calc((100%/3) - 5px);
    display: inline-flex;
    transition: 0.3s;
    margin-right:5px;
    cursor:pointer;
    font-size: 16.5px;
    font-family: sans-serif;
    letter-spacing: 0.5px;
    padding: 10px 20px;
    margin-top: 17px;
    text-align: left;
    font-weight: 200;

}
span.mausac2{display:inline-block;border:1px solid #ccc;width:18px;height:18px;margin-right:5px;cursor:pointer;font-size:0;border-radius: 50%}
span.mausacmot{display: inline-block;/* float:left; */border:1px solid #DDD;width: 14px;height: 14px;margin-right:5px;cursor:pointer;vertical-align: middle;font-size:0;border-radius: 10px;}
span.sizemot{display:inline-block;padding: 2px 5px;margin-right:5px;cursor:pointer;}
span.active_size,span.size:hover{background-color: #000;color: #fff;transition: 0.3s}
span.mausac2:hover,span.active_mausac2{border: 3px solid #000}
.product_des div{
    margin-top: 7px;
}
.tinhtrang {
    padding: 10px 10px;
    background-color: #000;
    color: #fff;
    margin-left: 10px;
}
div#logo {
    width: 30%;
    float: left;
    position: relative;
    box-sizing: border-box;
    padding: 5px;
}
div#div_dangkynhantin {
    max-width: 1200px;
    margin: 0 auto;
}

.clearfix:after{
    clear: both;
    content: ".";
    display: block;
    width: 0px;
    height: 0px;
    overflow: hidden;
}
div.tags{
    position: absolute;
    top: 5px;
    right: -6px;
    font-size: 10px;
    padding: 5px 5px 20px 5px;
    z-index: 2;
    color: #ffffff;
    background: #000;
    width: 40px;
    height: 20px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.detail_sp{
    display: inline-flex;
    width: 100%;
}

.tt_lh p{
    font-size: 13.5px;
    font-family: Segoe-UI;
    letter-spacing: 0.5px;
    margin: 20px 30px 0px 0;
}

.tt_lh a{
    font-family: Courier New;
    font-size: 14px;
    color: #959595;
}

.product_info li:last-child {
    border-bottom: none;
}

ul.product_info li p {
    font-size: 16px;
    font-family: Segoe-UI;
    color: #000000;
    line-height: 28px;
    text-align: left;
}
.product_des{margin-bottom: 10px;}
ul.product_info li.product_des p {
    font-size: 13px;
    font-family: Segoe-UI;
    color: #ccc;
    line-height: 16px;
}
ul.product_info li p span {
    color: black !important;
    font-weight: bold;
    margin-right: 10px;
}
li.product_des p{

}

.tt_lh {
    padding:10px 0 20px 10px;
    float: left;
    font-family: Segoe-UI;
    padding-right: 15px;
}



input.click_ajax.click_ajax2 {
    cursor: pointer;background:#000; color:#fff; border:1px solid#000;padding:10px 25px; border-radius:0;width: 100%;font-size: 16px;font-weight: 700;font-family: Segoe-UI;text-transform: uppercase;margin-top: 35px
}
select.phiship{
    width: 100%;
    padding: 10px 5px;
    margin-top: 5px;
    border: 1px solid #ccc;
}
.hienthimau
{
    width: 20px;
    height:20px;
    display: inline-block;
    vertical-align: top;
}

span.tdsp {
    margin-right: 5px;
}

div#dssanphamnewarrival {
    margin-top: 3%;
}

div#dssanpham {
    margin: 32px 0px;
}

a.dathang1.btn-addcart1 {
    /* left: 34%; */
    padding: 4px 10px;
    border: none;
    margin: 5px 0;
    display: inline-block;
    font-family: Segoe-UI;
    color: #FFF;
    font-size: 14px;
    cursor: pointer;
    border-radius: 15px;
    line-height: 20px;
    width: 90px;
    opacity: 1;
    transition: 0.4s;
    position: absolute;
    bottom: 8px;
    left: 29%;
    z-index: 10;
}


a.dathang1.btn-addcart1.newarrival {
    left: 34%;
}



.logomobile
{
    display: none;
}

.col_w50.dsphiship {
    margin-top: 3%;
}

.col_w50.dsphiship h3 {
    font-family: Segoe-UI;
    font-size: 18px;
    margin-bottom: 10px;
}


.col_w50.dsphiship label {
    font-family: Segoe-UI;
    font-size: 15px;
    display: block;
}
div#giohang {
    position: relative;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #000!important;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #000!important;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #000!important;
}
:-moz-placeholder { /* Firefox 18- */
 color: #000!important;
}

form#frm_dknt input[type='button']:hover {
    background: #000;
    color: #fff;
    transition: 0.5s;
}

.close{
	position: fixed;
    top: 25px;
    right: 50px;
    font-size: 50px;
}
.close i{display: block}
#wp_popup_mauve{position: fixed;top:0;left: 0;width: 100%;height: 100%;background: #fff;z-index: 9999;display:none}
#popup_mauve{padding:100px 100px 0;display: flex}
#slide_img{width: 60%}
#store_content{width: 40%;height: 700px;overflow-y: scroll;}
.thongtinsp {
    text-align: left;
}
ul.dm_cap2 {
    width: 100%;
    position: relative;
    overflow: hidden;
    padding-left:15px;
}


#overlay {
  background: rgba(0,0,0,0.7);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: none;
  text-align: center;
}

#overlay img {margin-top: 3rem;}
.tt_lh h3 {
    padding: 10px 0px;
    font-family: Segoe-UI;
    font-size: 45px;
}

.logo {
    display: inline-block;
    transition: 0.4s;
    max-width: 160px;
    margin-top: 10px;
}

.logo1{
    max-width: 300px;
    
}


form#frm_dknt {
    margin-left: 60px;
    text-align: center;
    display: flex;
}

#list_cart li{display: flex;width: 100%;padding-bottom:15px;}
.list_cart{max-height: calc(100vh - 300px); overflow-y: scroll;}
.img_cart,.price_delete{width: 55%}
.cart_info{text-align: left}
.cart_info span{display: flex;align-items: center;}
.cart_info p span.hienthimau{height: 15px;width: 15px;}
#cart_total{margin-top: 20px}
.wap_menu_bottom{margin-bottom: 25px;margin-top: 25px}
div.menu ul li .cart_info a{padding: 0;color: #000000;font-family: Segoe-UI;font-size: 13px;}
div.menu ul li .cart_info p{font-family: Segoe-UI;font-size: 11px;color: #635e5e;line-height: 25px}
div.wap_menu .menu{width:100%;margin:0px auto;position:relative;}
div.menu ul{list-style:none;padding:0;display: flex;justify-content: center;align-items: center;}
div.menu ul li{display:inline-block;vertical-align:top;position:relative;z-index:50;text-align:center}

.flag{
    padding-bottom: 10px;
    font-family: monospace;
}

.flag img{
    max-width: 35px;
    margin-right: 10px;
    margin-bottom: -5px;
}
div.menu ul li.line_menu{height:42px;width:2px;border-left:solid 1px #363636;border-right:solid 1px #282828;padding:0;margin:0}
div.menu ul li a{color:#000;font-size:16px;line-height:1em;padding:15px 25px 0;text-decoration:none;display:inline-block;position:relative;font-family: 'Segoe-UI';font-weight: bold;}
div.menu ul li:last-child a{border-right: none;}
div.menu ul li .icon_home {display:inline-block;vertical-align:top;height:30px;margin:5px;}

div.menu ul li a:hover,div.menu ul li a.active{color: #6EAED2;font-family:'Segoe-UI'}
div.menu ul li ul,div.menu ul li:hover ul li ul{
    position:absolute;
    margin-left:0;
    display:none;
    min-width:180px;
    background:#fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); 
    line-height:1.5;
    height:auto;
    z-index:9999;
     padding-bottom: 10px;
 }
div.menu ul li ul li{float:left;width:100%;position:relative;height:auto;text-align:left}
div.menu ul li ul li a{text-transform:none;display:block;border-right: none;line-height:30px;padding:10px 25px 0;font-size:15px;color:#808285;font-family: 'Segoe-UI'}
div.menu ul li ul li a:hover{color:#6EAED2}
div.menu ul li ul li ul{left:100%;top:0}


.cart_info{width: 70%;padding: 0 12px}
.cart_info .cart_pname a{display: block;margin-bottom: 5px;color: #000}
.cart_info .q_price{margin-top: 5px;display: block;}
.cart_info .quantity{line-height: 1em;padding:7px;text-align: center;background-color: #ccc;display: inline-block;}
.price_delete span{
    color: #000000;
    font-family: Segoe-UI;
    font-size: 13px;
}
.close_cart {
    position: absolute;
    right: 15px;
    top: 15px;
}
ul#list_cart{
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    max-height: 350px;
}
.check_out{width: 100%;margin-top: 35px;text-align: center;}
ul.check_out li.oder_total {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    font-family: Segoe-UI;
    font-size: 13px;

}
a.check_out_btn,.shopping_btn{
    margin: 0 auto;
    text-align: center;
    background: #000;
    color: #ffffff;
    text-transform: uppercase;
    font-size: 15px;
    font-family: Segoe-UI;
    padding: 5px;
    line-height: 28px;
    width: 70%;
    display: block;
}
.shopping_btn{margin-top: 15px}
.oder_total{padding: 10px 0;display: flex;justify-content: space-between;font-size: 16px;border-top: 2px solid #000;}
p.number_product{text-align: left!important;font-family: Segoe-UI;font-size: 16px;line-height: 1em;margin-bottom:  30px;font-weight: bold}

li#size_chart p,li#size_chart span{
    display: inline-block;
    font-size: 14px;
    font-family: Segoe-UI;
    text-decoration: underline;
}
.click_size_chart{cursor: pointer;display: flex;align-items: center;font-weight: 700}
.click_size_chart svg{margin-left: 10px;width: 13px}
li#size_chart span{padding-left: 10px;}
li.table_size_chart{display: none;}
li.table_size_chart.active{display: block;}
li.table_size_chart table{
    font-family: LatoRegurlar;
    font-size: 13px;
}
#wp_size_chart{position: absolute;max-height: 600px;margin: 0 auto;top: 50%;left: 50%;transform: translate(-50%,-50%);background-color: #fff}
#giohang{width: 100%;}
#wp_cart_total{width: 100%;}
#wp_cart_total h3{border-bottom: 2px solid #ccc;padding-bottom: 5px}
#wp_cart_total p{font-size: 13px;}
#giohang tr{position: relative;}
#cart_total p{line-height: 2.4em;}
.left_gh{position: fixed;width: 40%;height: 100vh;right: 0;top: 0;background-color: #fafafa;padding: 50px}
.left_gh .logo{display: none}
.right_gh{width: 60%;float: left;padding: 50px;text-align: center;}
a#delete_cart {
    display: block;
}
.col_product{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.cart_name{min-width: 120px;max-width: 150px}
#shipping{margin-top: 20px;}
#shipping input{margin-top: 10px}
#httt input{vertical-align: middle;}
#httt p{;padding-left: 5px}
#bank_number{padding-bottom: 20px}
.news_img{width: 100%;position: absolute;z-index: 0 height:300px;}
.news_content{width: 100%;position: absolute; padding: 10px; z-index: 1}
/*-------hambergur-------*/
#hamburger-icon {
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
    width: 30px;
    height: 35px;
    display: block;
    visibility: hidden;
    opacity: 0;
}
#hamburger-icon.show{
    visibility: visible;
    opacity: 1;
}
#hamburger-icon .line {

    width: 30px;
    background: #fff;
    margin: 6px 0 0 0;
    height: 2px;
    display: block;
    transition: all 300ms cubic-bezier(0.645, 0.045, 0.355, 1);
}
.line-1 {
  margin-top: 0;
}

#hamburger-icon:hover .line-1 {
  width: 30px;
}

#hamburger-icon:hover .line-2 {
  width: 40px;
}

#hamburger-icon:hover .line-3 {
  width: 20px;
}
/*----end hamburgur-------*/
.wp_button{
    position: relative;
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    align-items: flex-end;
}
.wp_button button{
    color: #fff;
    width: 160px;
    height: 35px;
    margin-top: 15px;
    border-radius: 30px;
    font-size: 16px;
    font-family: sans-serif;
    font-weight: bold;
    background-color: #6EAED2;
    border:none;
}
.wp_button i{color: #000;font-size: 30px}
.wp_button a{
    display: inline-block;
    position: relative;
    cursor: pointer;
    margin-left: 10px;
}
.wp_button .sp_cart_top{
    position: absolute;
    top: -5px;
    right: -5px;
    width: 15px;
    height: 15px;
    line-height: 15px;
    border-radius: 50%;
    background-color: red;
    color: #fff;
    font-size: 11px;
}
.wp_gallery{display: flex;justify-content: space-between;flex-wrap: wrap;border-top: 1px solid #000}
.gallery__item{position: relative;width: 50%;float: left}
.gallery__item:nth-child(1){
    border-right: 1px solid #000;
    border-bottom: 1px solid #000;
}
.gallery__item:nth-child(2){
    border-bottom: 1px solid #000;
}
.gallery__item img{width: 100%;height: 100%;object-fit: cover;object-position: 50% 50%}
#banner{text-align: center;}
#banner img{width: 100%}
#product_index{
    margin-top: 20px;
    text-align: center;
}
#product_index .title{
    display: inline-block;
    position: relative;
    font-size: 40px;
    line-height: 1em;
    font-weight: 400;
    width: 100%;
    font-family: 'Segoe-UI';
    margin-bottom: 50px;
    text-align: left;

}


#related_product{margin-top: 50px}
#related_product .title{
    font-size: 28px;
}
#product_index .slick_product,#related_product .slick_product{margin-top: 50px;}
#related_product .slick_product{margin-left: -18px;margin-right: -18px;}
.see_more{color: #000;text-transform: uppercase;font-weight: 700;font-size: 22px;border-bottom: 2px solid #000}
#slide_menu{
    position: fixed;
    width: 270px;
    height: 100vh;
    top: 0;
    left: -270px;
    background-color: #fff;
    z-index: 999;
    transition: left 0.4s ease-out;
    padding: 20px 25px 0;
}
#slide_menu .list_menu{list-style: none;margin-top: 30px}
#slide_menu .list_menu li{position: relative;cursor: pointer;}
#slide_menu .list_menu li a{color: #000;text-transform: uppercase;font-size: 18px;line-height: 2em;position: relative;}
#slide_menu .dm_cap1{padding-left: 15px;display: none}
#slide_menu .dm_cap1 > li a{font-size: 14px;text-transform: initial;color: #555252;line-height: 1.8em;display: block}
#slide_menu .dm_cap1 > li > a{text-transform: uppercase;color: #000}
#slide_menu.show{
    left: 0;
    transition: left 0.4s ease-in;
}
.close_menu{
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}
.over-play{
    position: fixed;
    top: 0;
    left:0;
    width: 100vw;
    height: 100vh;
    background-color:rgba(0,0,0,0.6);
    z-index: 888;
    display: none;
}
.circle-plus {
    height: 20px;
    width: 20px;
    font-size: 1em;
    opacity: .7;
    position: absolute;
    top: 8px;
    right: 0;
}
.closed .vertical {
    transition: all 0.3s ease-in-out;
    transform: rotate(-90deg);
}
.closed .horizontal {
    transition: all 0.3s ease-in-out;
    transform: rotate(-90deg);
    opacity: 1;
}
.opened{opacity: 1}
.opened .vertical {
    transition: all 0.3s ease-in-out;
    transform: rotate(90deg);
}
.opened .horizontal {
    transition: all 0.3s ease-in-out;
    transform: rotate(90deg);
    opacity: 0;
}
.circle-plus .circle {
    position: relative;
    width: 20px;
    height: 20px;
}
.circle-plus .circle .horizontal {
    position: absolute;
    background-color: #000;
    width: 16px;
    height: 2px;
    left: 50%;
    margin-left: -8px;
    top: 50%;
    margin-top: -1px;
}
.circle-plus .circle .vertical {
    position: absolute;
    background-color: #000;
    width: 2px;
    height: 16px;
    left: 50%;
    margin-left: -1px;
    top: 50%;
    margin-top: -8px;
}
.load_session_cart {
    width: 350px;
    right: -350px;
    position: fixed;
    background-color: #fff;
    opacity: 0;
    visibility: hidden;
    transition: 0.4s ease;
    line-height: 1em;
    padding: 50px 10px;
    z-index: 999;
    top: 0;
    height: 35vh;
}
.load_session_cart.show{
    right: 0;
    transition: 0.4s ease;
    visibility: visible;
    opacity: 1;
}
.wp_session_cart h3{
    text-align: center;
    font-size: 13px;
    font-weight: normal;
    margin-top: 10px;
}
span.quantity_session{
    font-size: 17px;
    font-weight: bold;
    color: red;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
   opacity: 1;
}

/**   **************  */
input[type="number"] {
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield;
  width: 100%;
  border: none;
  color: #959595;
  text-align: center;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

.number-input {
  display: inline-flex;
}

.number-input,
.number-input * {
  box-sizing: border-box;
}

.number-input button {
  outline:none;
  -webkit-appearance: none;
  background-color: transparent;
  border: none;
  align-items: center;
  justify-content: center;
  width: 2rem;
  height: 2rem;
  cursor: pointer;
  margin: 0;
  position: relative;
  border:1px solid #ccc;
  background-color: #f5f5f5
}

.number-input button:before,
.number-input button:after {
  display: inline-block;
  position: absolute;
  content: '';
  width: 10px;
  height: 2px;
  background-color: #212121;
  transform: translate(-50%, -50%);
}
.number-input button.plus:after {
  transform: translate(-50%, -50%) rotate(90deg);
}

.number-input input[type=number] {
  width: 60px;
  padding: .5rem;
  font-size: 13px;
  height: 2rem;
  text-align: center;
  border-top: 1px solid #ccc;
  border-bottom:1px solid #ccc;
  border-left: none;
  border-right:none;
  margin-right: 0;
}
/*.list_cart{max-height: 500px;overflow: scroll;}*/
.cart_item{margin-top: 15px;display: flex}
.cart_item__img{width: 20%;padding-right: 15px}
.cart_item__info{width: 50%;padding-right: 15px;}
.cart_item__info2{width: 30%;text-align: right;}
.cart_item__name{font-size: 14px;font-weight: bold;}
.cart_item__name a{color: #000}
.cart_item__color,.cart_item__size{display: flex}
.color_box{width: 15px;height: 15px;display: inline-block;margin-left: 7px;border:1px solid #000;}
.cart_item .size_box{margin-left: 7px}
.remove-cart a{text-decoration: underline;color: blue!important}
#social {text-align: left;margin-top: -5px;}
#social a{align-items: center;text-transform: uppercase;font-weight: 300;margin-left: 15px;}
#social img{ max-height: 28px ;display: inline-block;margin-right: 10px}
.flex-end{justify-content: flex-end!important;}
.flex-start{justify-content: flex-start!important;}
#video_index{
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 56.25%;
}
#video_index iframe{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}
.splash-screen {
    position: fixed;
    left: 0;
    top: 0;
    background: white;
    width: 100%;
    height: 100vh;
    z-index: 11111111;
    animation: backgroundChange .5s linear 1.5s forwards, fadeOut .5s linear 2s forwards;
}

.splash-screen-text {
    left: 50%;
    top: calc(50% - 4vmax);
    transform: translate(-50%, -50%);
    position: absolute;
    font-size: 7.8vmax;
    width: fit-content;
    display: flex;
    font-family: sans-serif;
    animation: colorChange .5s linear 1s forwards;
}

.splash-screen-loaded-text {
    transform: scale(1.5);
    animation: scaleText .5s linear .5s forwards;
}

.splash-screen-loading-text {
    width: 0;
    overflow: hidden;
    animation: expand .5s linear .5s forwards;
}

@keyframes scaleText {
    from {
      transform: scale(1.5)
  }

  to {
      transform: scale(1)
  }
}

@keyframes expand {
    from {
      width: 0;
  }

  to {
      width: 31vmax;
  }
}

@keyframes backgroundChange {
    from {
      background-color: white
  }

  to {
      background-color: black
  }
}

@keyframes colorChange {
    from {
      color: black
  }

  to {
      color: white
  }
}

@keyframes fadeOut {
    from {
      opacity: 1
  }

  to {
      opacity: 0;
      z-index: -1;
  }
}

#dknt{
    background-color: #f3f3f3;
    padding: 30px 0;
    margin-top: 50px;
}
#wp_dknt{max-width: 650px;margin: 0 auto;display: flex;align-items: center;}
#wp_dknt .title{display: flex;align-items: center;font-size: 13px}
#wp_dknt .title svg{margin-right: 15px}
.title_ft{position: relative; text-transform: uppercase;color: #6EAED2; margin-bottom: 30px;font-weight: bold;font-size: 15px;line-height: 1em}
.title_ft::after {
    display: block;
    content: "";
    margin-top: 1px;
    height: 1px;
    width: 30px;
    background-color: #6EAED2;
}
#banner_product img{width: 100%;}
.redirect_bar{margin-bottom: 20px;background-color: #f3f3f3;padding: 10px 50px}
.redirect_bar span{color: #000;text-transform: uppercase;}
.redirect_bar a{color: #000}
.space{margin: 0 5px;}
.magiamgia{padding: 5px;width: calc(100% - 50px);outline: none;border:1px solid #ccc;}
.btn_discount{width: 50%;text-align: center;background-color: #000;color: #fff;padding: 5px;cursor: pointer;transition: 0.4s;border:1px solid #000;}
.btn_discount:hover{background-color:#fff;color: #000 }
#discount{margin: 5px 0}
#tk_nganhang{display: none;padding: 20px;text-align: left}
#wp_contact{display: block;align-items: flex-end;}
#wp_contact .tt_lh{width: 67.5%;padding-right: 30px;}
#wp_contact .map{width: 32.5%; }
.map1{
    width: 100%;
    height: 450px;
}
.tt_lh span{display: flex;align-items: center; margin-top: 7px;font-size: 14px; text-align: left;letter-spacing: 0.5px; color: #000;}
.tt_lh span svg{margin-right: 5px;}
.mh-600{min-height: calc(100vh - 250px);}
.info a{
    color: #fff!important;
}



.view_all button{
    background-color: #000;
    width: 150px;
    height: 50px;
    border-radius: 30px;
    border: #000;
}

.view_all a{color: #fff;}


.content_contact{
    padding: 18px;
    display: flex;
    height: 350px;
}

.description{
    margin-top: 15px;
    font-size: 15px;
    font-family: sans-serif;
    letter-spacing: 0.5px;
}
.wp_banner{
    display: flex;
    position: relative;
    max-width: 1200px;
    margin:0px auto;
    background-color: #EBF2F9;
}

.wp_banner img{
    width: 600px;
    height: 470px;
    border-radius: 30px;
    margin-left: 30px;
    margin-right: 50px;
}

.banner{
    
    margin-top: 30px;
    margin-bottom: 20px;
}

.img_banner{
    background: url(images/back_banner.png) no-repeat center ;
}

.banner p{
    font-size: 35px;
    padding: 10px 40% 20px 10%;
}



.banner img{
    width: 330px;
    height: 230px;
    border-radius: 20px;
    margin: 5px 5px;
}

.img_banner{
    text-align: center;
    margin: 0 auto

}

.dk_ngay{
    background:url(images/dk_ngay.png) no-repeat;
    height: 280px;
    margin-top: 100px;
    padding-top: 100px;
}

.dk_ngay h1{
    font-size: 40px;
    color: #fff;
    text-align: center;

}

.dk_ngay a{
    border-radius: 30px;
    background-color: #fff;
    color:#000;
    font-size: 18px;
    display: flex;
    text-align: center;
    justify-content: center;
    margin: 20px auto;
    font-family:Segoe-UI; 
    width: 270px;
    height: 45px;
    border:none;
}

.dk_ngay a:hover,.dk_ngay svg:hover{
    background-color: #6EAED2;
    color:#fff;
    border:none;
}

.dk_ngay p{
    margin: auto 0;
}

.blog{margin:0;width:100%;height: auto; background:url(images/blog_back.png) no-repeat; padding:30px 30px 60px 30px; }

.blog h1{
    margin: 20px auto 50px 8%;
    font-size: 35px;
}

.background{
    width: 100%;
}


.box_container .watermark{
    margin-bottom: 30px;

}

.watermark{
    object-fit: contain;
    border-radius: 20px;
}
.gioi_thieu{
    max-width: 500px;
    right: 0;
    font-family: 'Montserrat', sans-serif;
    margin: auto 10px;
}

.gioi_thieu p{
    font-size: 13px;
}

.gioi_thieu a{
    font-size: 27px;
}

.gioi_thieu h1{
    margin-bottom: 20px;
}


.enter_mail h3{
    padding-left: 40%;
    font-family: sans-serif;
}

.enter_mail .send_mail{
    padding: 0 30% 0 37%;
}

.send_mail input{
    width: 400px;
    height: 30px;
    border: 3px solid;
    border-top-color: #fff;
    border-left-color: #fff;
    border-right-color: #fff;
    font-style: italic;
}

.send_mail button{
    width: 60px;
    height: 30px;
    color: #fff;
    background-color: #000;
    font-weight: bold;
    font-size: 17px;
}

.group_booking{
    max-width: 100%;
}

#slick_slider img{
    width: 80%;
    margin-top: 90px;
    margin-left: 10%;
}



.kham_pha{
    position: relative;
    display: flex;
    justify-content: center;
    margin-top: -115px;
    margin-bottom: 115px;
    z-index: 1;
}

.khampha{
    width: 180px;
    height: 45px;
    background-color: #fff;
    border-radius: 30px;
    border:none;
    font-size: 17px;
    font-family: 'Segoe-UI';
    font-weight: bold;
    
}

.group_button{
    position: relative;
    display: flex;
    justify-content: center;
    object-position: center;
    margin:-75px auto 55px auto;
    max-width: 60%;
    height: 60px;
    background-color: #fff;
    border-radius: 30px;
    
}

.group_button1{
    display: flex;

}

.group_button .dm_cap2{
    font-family: Courier New;
    border:none;
    color: #545454;
    margin-right:20px;
    font-size: 16px;
}
.group_button .check_in{
    font-family: Courier New;
    border:none;
    color: #545454;
    margin-right:20px;
    font-size: 16px;
}
.group_button .check_out{
    font-family: Courier New;
    border:none;
    color: #545454;
    margin-right:20px;
    font-size: 13px;
}
.group_button .people{
    font-family: Courier New;
    border:none;
    color: #545454;
    font-size: 16px;
}

.group_button .num{
    width: 50px;
    border:none;
    text-align: center;
    color: #545454;
    font-family: Courier New;
    font-size: 16px;
}

.group_button .submit_booking{
    width: 140px;
    height: 36px;
    background-color: #6EAED2;
    border-radius: 30px;
    border:none;
    font-size: 16px;
    text-align: center;
    padding: 5px;
    font-weight: bold;
    margin: auto 0;
    color: #fff 
}

.district{
    margin: 0 10px;
}

.district h1{
    font-size: 40px;
    font-family: 'Segoe-UI';
    margin-bottom: 20px;
}

.dm_district{
    display: flex;
    position: relative;

}

.dm_district::after{
    position: absolute;
    content: "";
    width: 96%;
    height:1.5px;
    background-color: #D9D9D9;
    top:95%;
    z-index: 0;
}




.dm_district li{
    width: 12%;
    height: 50px;
    text-align: center;
    padding: 12px;
    position: relative;
}

.dm_district li::after{
    content: "";
    width: 100%;
    height: 5px;
    border-radius: 30px;
    background-color: #6EAED2;
    position: absolute;
    left: 0;
    bottom: 0;
    transform: scaleX(0);
}

div.dm_district li:hover::after,div.dm_district li.active::after {
    color: #6EAED2;
    transform: scaleX(1);
    z-index: 1;
}



.dm_district li a{
    color: #000;
    font-size: 16px;
    font-family: sans-serif;
}

#collection_index{
    margin: 0 auto;
    max-width: 1200px;
    height: auto;
}
#banner{
    /*margin: 0 auto;
    max-width: 1200px;*/
    width: 100%;
}

.image-grid {
  --gap: 18px;
  --num-cols: 3;
  --row-height: 300px;

  box-sizing: border-box;
  padding: var(--gap);

  display: grid;
  grid-template-columns: repeat(var(--num-cols), 1fr);
  grid-auto-rows: var(--row-height);
  gap: var(--gap);

  position: relative;
}



/*-----------nút tròn, dài số 1-----------*/


.collection_detail_btn{
    position: absolute;
    bottom: 7%;
    left: 4%;
    
}
.collection_detail_btn span{
    background: #fff;
    border-radius: 35px;
    padding: 10px 20px 10px 20px;
}
.collection_detail_btn span a{
    color: #000;
    font-family: 'Segoe-UI';
    font-size: 15px;
    margin-left: 5px;
}

/*---!!!!!!!!nút tròn, dài số 1-----------*/


.image-grid > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
}

.image-grid-col-2 {
  grid-column: span 2;
}

.image-grid-row-2 {
  grid-row: span 2;
}



.booking{
    width: 100%;
    height: 230px;
    border-radius: 15px;
    padding: 25px 20px;
    font-family: sans-serif;
    background-color: #fff;
    border:none;
    margin: 40px 0; 

    box-shadow: rgba(110, 174, 210, 0.5) 0px 0rem 1rem;
}

.ten{
    
}

.ten1{
    display: flex;
    font-size: 13px;
    font-family: sans-serif;
    justify-content: center;
    position: relative;
    padding-bottom: 20px;
}


.ten1::after{
    content: "";
    width: 100%;
    height: 1px;
    top: 97%;
    background-color: #D9D9D9;
    position: absolute;
}

.ten2{
    width: 70%;
    text-align: left;
}

.ten3{
    width: 30%;
    text-align: right;
}

.booking button{
    width: 100%;
    border: none;
    background-color: #fff;
}

.booking a{
    margin-top: 10px;
    padding: 12px 20%;
    background-color: #6EAED2;
    border-radius: 30px;
    color: #fff;
    font-weight: bold;
}

.booking i{
    color: #959595;
    font-size: 12px;
    display: flex;
    justify-content: center;
    margin-top: 10px;
    padding: 5px;
}

.booking_detail{
    display: flex;
    margin:0 0 18px 0;
}



.booking_detail input{
    margin-top: 8%;
}

.booking_detail button{
    padding: 9px 0;
    background-color: #fff;
    color: #000;
    display: block;
    font-size: 12px;
}

.check_in1{
    border:none;
    color: #959595;
    font-size: 12px;
    width: 100%;
    text-align: center;
}
.check_out1{
    border:none;
    color: #959595;
    font-size: 12px;
    width: 100%;
    text-align: center;
}

.border_booking{
    position: relative;
}

.border_booking::before{
    content: "";
    width: 25%;
    height: 1px;
    left: 90%;
    bottom:45%;
    background-color: #D9D9D9;
    position: absolute;
    transform: rotate(90deg);
}

.border_booking::after{
    content: "";
    width: 25%;
    height: 1px;
    right: 86%;
    bottom:45%;
    background-color: #D9D9D9;
    position: absolute;
    transform: rotate(90deg);
}

#load_more{
    width: 140px;
    height: 36px;
    background-color: #6EAED2;
    border-radius: 30px;
    border:none;
    font-size: 16px;
    text-align: center;
    padding: 5px;
    font-weight: bold;
    color: #fff ;
    cursor: pointer;
    margin: 10px auto;
}

/* Anything udner 1024px */


@media screen and (max-width: 450px){
    .wp_product.inside .product__item,.slick_product .product__item{
    width: 100%;
    margin: 0 10px 10px;
    display: none;
}

    .product__price1 a{
    width: 35%;
    height: 30px;
    margin-top: 10%;
    border-radius: 20px;
    font-size: 12px;
    font-family: sans-serif;
    border:1px solid #000;
    background-color: #EBF2F9;
    color: #000;
    padding:6px;
}
    .banner p{
    font-size: 19px;
    padding: 10px 0 20px 15px;
}
    .district h1{
    font-size: 20px;
    font-family: 'Segoe-UI';
    margin:20px 0;
}
    .box_container .watermark{
    margin-bottom: 0;

}
    .dk_ngay h1{
    font-size: 20px;
    color: #000;
    text-align: center;

}
    div#wap_footer .content_ft{width:100%;margin:0 auto;font-family:Segoe-UI;font-size:13px;display: block;}
    .col_w25{width:100%;}

    .col_w20{width:100%;}
    .col_w30{width:100%;}
    #main_footer .contact{
    padding-left: 15px;
    padding-top: 10px;
}
    .pdl25{padding-left: 15px; padding-top: 10px;}
    .wp_banner{
    display: block;
    position: relative;
    max-width: 1200px;
    margin:0px auto;
    background-color: #EBF2F9;
}
    .wp_banner img{
    width: 80%;
    height: auto;
    border-radius: 30px;
    margin-left: 30px;
    margin-right: 50px;
}
    .gioi_thieu{
    max-width: 500px;

    font-family: 'Montserrat', sans-serif;
    margin: 20px 30px 0 30px;
}
    #product_index .title{
    display: inline-block;
    position: relative;
    font-size: 25px;
    line-height: 1em;
    font-weight: 400;
    width: 100%;
    font-family: 'Segoe-UI';
    margin-bottom: 50px;
    text-align: left;
    padding: 10px 15px
}
    .product__item1{
    width: 100%;
    margin:0 10px 20px;
    text-align:center;
    vertical-align:top;
    box-sizing:border-box;
    position:relative;
    font-family:Segoe-UI;
    transition: 0.5s;
    background: #EBF2F9;
    float: left;
    display: block;
    overflow: hidden;
    padding-bottom: 15px;
}
    .blog h1{
    margin: 20px auto 50px 8%;
    font-size: 25px;
}

    .wp_product.inside .product__item:nth-child(1){
    display: inline-block;
}
    .product__item2{
    margin: 20px 0;
    text-align:center;
    vertical-align:top;
    box-sizing:border-box;
    position:relative;
    font-family:Segoe-UI;
    transition: 0.5s;
    background: #EBF2F9;
    display: block;
    overflow: hidden;
    padding: 20px;
}
    .product_info2{width: 100%; margin: 0 auto; list-style:none;padding:0}
    .btn_dathang2 a{
    position: relative;
    border-radius: 30px;
    font-size: 16px;
    font-family: sans-serif;
    border:1px solid #000;
    color: #000;
    padding:10px 28px 10px 28px;
    left: 0;

}
    .size_sp2{
    width: 55%;
    margin-top: 15px;
    margin-bottom: 35px;

}
    .blog{margin:0;width:100%;height: auto; background:url(images/blog_back.png) no-repeat; padding:0; }
    .news_img{width: 100%;position: absolute;z-index: 0; height:320px;}
    .group_button{
    position: relative;
    display: block;
    justify-content: center;
    object-position: center;
    max-width: 82%;
    height: 230px;
    margin-top: -20px;
    background-color: #fff;
    border-radius: 30px;
    
}
.group_button span{
    margin-bottom: -50px;
}

.group_button1{
    display: flex;
    width: 100%;
    margin: 10px 20px;
    height: 20%;
}

.group_button .dm_cap2{
    font-family: Courier New;
    border:none;
    color: #545454;
    margin-right:20px;
    font-size: 16px;
    margin-bottom: -20px;
}

.group_button .check_in{
    font-family: Courier New;
    border:none;
    color: #545454;
    margin-right:20px;
    font-size: 16px;
}
.group_button .check_out{
    font-family: Courier New;
    border:none;
    color: #545454;
    margin-right:20px;
    font-size: 13px;
}
.group_button .people{
    font-family: Courier New;
    border:none;
    color: #545454;
    font-size: 16px;
    margin-bottom: -20px;
}

.group_button .num{
    width: 50px;
    border:none;
    text-align: center;
    color: #545454;
    font-family: Courier New;
    font-size: 16px;
    margin-bottom: -20px;
}

.group_button .submit_booking{
    width: 90%;
    height: 36px;
    background-color: #6EAED2;
    border-radius: 30px;
    border:none;
    font-size: 16px;
    justify-content: center;
    display: flex;
    padding: 5px;
    font-weight: bold;
    margin: 20px; 15px;
    color: #fff 
}
.khampha{
    display: none;
}
.dm_district{
    display: inline-flex;
    position: relative;
    width: 100%;
    overflow-y: auto;
    overflow: -moz-scrollbars-none;
    -ms-overflow-style: none;
    
}
.dm_district::-webkit-scrollbar { 
  width: 0 !important;
  display: none; 
}
.dm_district li a{
    display: flex;
    width: 100px;
    color: #000;
    font-size: 16px;
    font-family: sans-serif;
    
}

div.wap_menu{
    position: fixed;
    width:100%;
    height: 130px;
    margin:0 auto;
    z-index:10;
    margin:0 auto;
    text-align: center;
    line-height: 0;
    padding: 0px 0px 10px;
    transition: 0.4s;
    background: #fff;
}
.col_w60{width:95%;position: absolute; margin-top: 130px;}
div.menu ul{list-style:none;padding:0;display: flex;justify-content: center;align-items: center;  max-width: 100% ;}
div.menu ul li a{color:#000;font-size:14px;line-height:1em;padding:8px 8px;text-decoration:none;display:inline-block;position:relative;font-family: 'Segoe-UI';font-weight: bold;}

.wp_button button{
    color: #fff;
    width: 160px;
    height: 35px;
    margin-top: 30px;
    margin-right: 10px;
    border-radius: 30px;
    font-size: 16px;
    font-family: sans-serif;
    font-weight: bold;
    background-color: #6EAED2;
    border:none;
}
#slick_slider img{
    width: 80%;
    margin-top: 130px;
    margin-left: 10%;
}


.image-grid {
  --gap: 18px;
  --num-cols: 1;
  --row-height: 300px;
  margin-top: 130px;
  box-sizing: border-box;
  padding: var(--gap);

  display: block;
  grid-template-columns: repeat(var(--num-cols), 1fr);
  grid-auto-rows: var(--row-height);
  gap: var(--gap);

  position: relative;
}


.image-grid > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
}

.image-grid-col-2 {
  grid-column: span 2;
}

.image-grid-row-2 {
  grid-row: span 2;
}


.collection_detail_btn{
    position: absolute;
    bottom: 7%;
    left: 7%;
    
}
.collection_detail_btn span{
    background: #fff;
    border-radius: 35px;
    padding: 10px 20px 10px 20px;
}
.collection_detail_btn span a{
    color: #000;
    font-family: 'Segoe-UI';
    font-size: 15px;
    margin-left: 5px;
}
.content_contact{
    padding: 18px;
    display: block;
    height: auto;
}
#wp_contact .tt_lh{width: 100%;padding-right: 0;}
.tt_lh h3 {
    padding: 10px 0px;
    font-family: Segoe-UI;
    font-size: 30px;
}
#wp_contact .map{width: 100%; }
.map1{
    width: 100%;
    height: 450px;
}
.dm_district li{
    width: 100%;
    height: 50px;
    text-align: center;
    padding: 10px;
    position: relative;
}
.dm_district::after{
    position: absolute;
    content: "";
    width: 96%;
    height:1.5px;
    background-color: #D9D9D9;
    top:95%;
    z-index: 0;
}
.title1{
    display: block;
}
.title3{
    display: block;
    font-size: 38px;
    padding-left: 10px
}

.sap_xep1{
    padding: 20px 0 0 20px;
}
#col_right{width: 100%;float: left; margin-top: 130px;display: block;}
.zoom_slick{width: 100%;float:left;padding: 10px;}

#wp_product_info{width: 100%;float: right;padding: 10px;}
.tien_ich{
    width: 100%;
    padding: 25px 0 25px 0;
}
span.mausac3{
    width: 100%;
    display: block;
    transition: 0.3s;
    margin-right:5px;
    cursor:pointer;
    font-size: 16.5px;
    font-family: sans-serif;
    letter-spacing: 0.5px;
    padding: 10px 20px;
    margin-top: 17px;
    text-align: left;
    font-weight: 200;

}
.district{
    margin: -130px 10px 10px 10px;
}
.chose_phong{
    margin-top: 140px;
}
}












